body{
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url(image/clockBackgound.jpg);
    background-size: cover;
}

h2{
    height: 20px;
    padding-left: 5px;
    padding-right: 3px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
    color: white;
    background: rgb(136, 3, 103);
    opacity: 70%;
}

.clock{
    display: flex;

}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba( 0, 0 , 0 , .3);

}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 80%;

}

.clock #am-pm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}