*{
    /* align-items: center; */
    background-color: rgba(23, 4, 58, 0.904);
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#page-heading{
    color: rgb(207, 179, 179);
    
    text-align: center;
    margin-top: 25px;

}

#contacts_list{
    color: antiquewhite;
    
}
.contact_list_container{
    border: 1px solid white;
    background-color: rgb(10, 10, 80);
    /* text-align: center; */
    margin-left: 35%;
    margin-right: 35%;
   
}
.contact{
    background-color: rgb(10, 10, 80);
    display: flex;
    justify-content:space-between;
}

.contact .details{
    /* order: 1px solid white; */
    display: flex;
    justify-content:space-between;
    height: 1.5rem;
    background-color: rgb(10, 10, 80);
    color:white;
    width: 80%;
}
.details:hover{
    color: aqua;
}

span{
    background-color: rgb(10, 10, 80);
    
}
span:hover{
    color: aqua;
}

.contact .delete_button{
    background-color: rgb(10, 10, 80);
    width: 10%;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 3px;
}
a{
    color: aliceblue;
    background-color: red;
}

.form{
    margin-left: 25%;
    margin-right: 25%;
    height: 1.5rem;
    margin-top: 8px;
    text-align: center;
}
.form form input{
    border: none;
    height: 1.5rem;
    border-bottom: 2px solid white;
    background-color: rgb(27, 27, 95);
}
button{
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
button:hover{
    color: aqua;

}
ul li{
    list-style: none;
}